{% extends "encyclopedia/layout.html" %}

{% block body %}
    <h1>All Pages</h1>
    <form method="get" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Search Encyclopedia" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'entry' title=entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
